@import 'tailwindcss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 1380px;
  padding: 0 10px;
  margin: auto;
}

.font-arial {
  font-family: Arial, sans-serif;
}
