@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        box-sizing: border-box;
    }
    *,
    *::after,
    *::before {
        box-sizing: inherit;
    }

    .container {
        max-width: 1380px;
        padding: 0 10px;
        margin: auto;
    }
}

@layer components {
}

@layer utilities {
    .font-arial {
        font-family: Arial, sans-serif;
    }
}
